.pc article { 
	margin: 3rem auto; 
	text-align: center;
	opacity: 100;
	transform: rotate(45deg);
	overflow: hidden;
	position: relative;
}
.pc article:hover p {
	bottom:-1rem;
}

.pc a {
	transform: rotate(-45deg);
	display: block;
}
	.pc p {
		position: absolute;
		bottom:-60%;
		left:0;
		width: 100%;
		background-color: #999999;
		padding: 0.1rem 0;
	}
	.pc img {
		width: 100%;
		
	}